In [12]:
import pandas as pd
df = pd.read_excel('house_sample.xlsx')
df.head()

,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层

In [13]:
#将df的"朝向"列数据进行one-hot处理，即转换成虚拟变量
pd.get_dummies(df['朝向'])

    南  南北
0   0   1
1   0   1
2   0   1
3   0   1
4   1   0
5   0   1
6   1   0
7   1   0
8   1   0
9   0   1
10  0   1
11  1   0
12  0   1
13  0   1
14  0   1
15  1   0
16  1   0
17  0   1
18  1   0
19  1   0
20  0   1
21  1   0
22  1   0
23  0   1
25  0   1
26  1   0
27  1   0
28  0   1
29  1   0

In [16]:
#利用pandas的concat函数将“朝向”列数据进行one-hot处理后，与原来的df数据框合并
df = jion(pd.compat([df,pd.get_dummies(['朝向'])],axis=1))
df.head()

NameError: name 'jion' is not defined

In [15]:
#删除df的'朝向'数据
df = df.drop('朝向',axis=1)
df.head()

,标题,建筑面积,总价,户型,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层

In [47]:
?df.pivot_table

In [19]:
#利用数据透视表绘制以下表格
df2 = df.pivot_table(index='张贴日期',columns='产权性质',values='总价',aggfunc=sum,fill_value=0)
#表中数据为对应交叉对象的总价之和
df2.head()

产权性质          个人产权   商品房
张贴日期
西元2017年4月12日     0   760
西元2017年4月13日     0    76
西元2017年4月14日   560   740
西元2017年4月15日   650   975
西元2017年4月16日   285  1310

In [21]:
#将上面表格的行索引与列索引进行对换
df3 = df.pivot_table(index='产权性质',columns='张贴日期',values='总价',aggfunc=sum,fill_value=0)
df3.head()

张贴日期,西元2017年4月12日,西元2017年4月13日,西元2017年4月14日,西元2017年4月15日,西元2017年4月16日,西元2017年4月17日,西元2017年4月18日,西元2017年4月19日,西元2017年4月20日,西元2017年4月21日
产权性质,,,,,,,,,,
个人产权,0,0,560,650,285,875,1384,298,0,0
商品房,760,76,740,975,1310,575,850,769,400,270

In [25]:
#利用转置函数实现上面的行索引与列索引对换
df2.T

张贴日期,西元2017年4月12日,西元2017年4月13日,西元2017年4月14日,西元2017年4月15日,西元2017年4月16日,西元2017年4月17日,西元2017年4月18日,西元2017年4月19日,西元2017年4月20日,西元2017年4月21日
产权性质,,,,,,,,,,
个人产权,0,0,560,650,285,875,1384,298,0,0
商品房,760,76,740,975,1310,575,850,769,400,270

In [22]:
#调整上面的参数，绘制以下表格
df_multi_idx = df.pivot_table(index=['装修','楼层'],columns='张贴日期',values='总价',aggfunc=sum,fill_value=0)
df_multi_idx.head()

张贴日期    西元2017年4月12日  西元2017年4月13日  西元2017年4月14日  西元2017年4月15日  西元2017年4月16日  \
装修  楼层
中装修 低层             0             0             0             0           285
简装修 中层             0             0             0           690           770
    低层             0             0             0             0             0
    高层             0             0             0           285           340
精装修 中层             0            76           560             0           200

张贴日期    西元2017年4月17日  西元2017年4月18日  西元2017年4月19日  西元2017年4月20日  西元2017年4月21日
装修  楼层
中装修 低层             0             0             0             0             0
简装修 中层             0           850             0           400           270
    低层           355             0           410             0             0
    高层           220             0             0             0             0
精装修 中层           295           926             0             0             0

In [23]:
#利用unstack函数转换成宽表格
df_wide = df_multi_idx.unstack()
df_wide.head()

张贴日期 西元2017年4月12日             西元2017年4月13日           西元2017年4月14日              \
楼层             中层     低层   高层           中层   低层   高层           中层   低层     高层
装修
中装修           NaN    0.0  NaN          NaN  0.0  NaN          NaN  0.0    NaN
简装修           0.0    0.0  0.0          0.0  0.0  0.0          0.0  0.0    0.0
精装修           0.0    0.0  0.0         76.0  0.0  0.0        560.0  0.0  440.0
豪华装修          0.0  760.0  0.0          0.0  0.0  0.0          0.0  0.0  300.0

张贴日期 西元2017年4月15日 ...  西元2017年4月18日 西元2017年4月19日               西元2017年4月20日  \
楼层             中层 ...            高层           中层     低层     高层           中层
装修                ...
中装修           NaN ...           NaN          NaN    0.0    NaN          NaN
简装修         690.0 ...           0.0          0.0  410.0    0.0        400.0
精装修           0.0 ...           0.0          0.0    0.0  359.0          0.0
豪华装修          0.0 ...           0.0        298.0    0.0    0.0          0.0

张贴日期           西元2017年4月21日
楼层     低层   高层           中层   低层   高层
装修
中装修   0.0  NaN          NaN  0.0  NaN
简装修   0.0  0.0        270.0  0.0  0.0
精装修   0.0  0.0          0.0  0.0  0.0
豪华装修  0.0  0.0          0.0  0.0  0.0

[4 rows x 30 columns]

In [24]:
#利用stack转换成长表格
df_long = df_wide.stack()
df_long.head()

张贴日期    西元2017年4月12日  西元2017年4月13日  西元2017年4月14日  西元2017年4月15日  西元2017年4月16日  \
装修  楼层
中装修 低层           0.0           0.0           0.0           0.0         285.0
简装修 中层           0.0           0.0           0.0         690.0         770.0
    低层           0.0           0.0           0.0           0.0           0.0
    高层           0.0           0.0           0.0         285.0         340.0
精装修 中层           0.0          76.0         560.0           0.0         200.0

张贴日期    西元2017年4月17日  西元2017年4月18日  西元2017年4月19日  西元2017年4月20日  西元2017年4月21日
装修  楼层
中装修 低层           0.0           0.0           0.0           0.0           0.0
简装修 中层           0.0         850.0           0.0         400.0         270.0
    低层         355.0           0.0         410.0           0.0           0.0
    高层         220.0           0.0           0.0           0.0           0.0
精装修 中层         295.0         926.0           0.0           0.0           0.0